*{
    margin: auto;
}
.banner-container{
    display: flex;
    justify-content: space-between;
    background-color: #fceef1;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 150px;
}
.banner{
    
}
.banner-title{
    font-size: 64px;
    margin-bottom: 25px;
    color: #272727;
}
.banner-description{
margin-bottom: 25px;
color: #7c7778;
}
.btn-shop{
    background-color: #e55473;
    color: white;
    border: none;
    padding: 10px 25px 10px 25px;
    border-radius: 5px;
}

.flower-text{
    text-align: center;
}
.Flower-title{
    font-size: 48px;
    margin-bottom: 20px;
}
.flower-description{
    font-size: 24px;
}
.featured-flower{
    display: flex;
    margin-bottom: 100px;
    justify-content: space-around;
    align-items: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 100px;
}
.flower-1{
background-color: #f2dee7;
padding: 40px 40px 0px 40px;
border-radius: 220px 220px 0px 0px;

}
.flower-2{
background-color:#d9eff1 ;
padding: 40px 40px 0px 40px;
border-radius: 220px 220px 0px 0px;
background-size: 200px;
margin-left: 5px;
}
.flower-3{
background-color: #e3ebdb;
padding: 40px 40px 0px 40px;
border-radius: 220px 220px 0px 0px;
background-size: 200px;
margin-left: 5px;
}


.section-card{
    display: flex;
    background-color: #f4f4f4;
    margin-bottom: 100px;
    height: 200px;
    text-align: center;
    margin-left: 330px;
    margin-right: 330px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 30px;
}
.card{
    margin-top: 20px;
    font-size: 16px;
    
}